@import 'https://coolors.co/fec5bb-fcd5ce-fae1dd-f8edeb-e8e8e4-d8e2dc-ece4db-ffe5d9-ffd7ba-fec89a';
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #ffd7ba;
}

h2 {
    text-decoration: underline;
}

.hero-container{
    display:flex;
    justify-content: space-between;
    align-content: center;
    margin: 12px;
    padding: 12px;
    border: none;
    background-color: #fae1dd;
    border-radius: 20px;;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-label {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    align-items: center;
}

.hero-input {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    width: 400px;
    height: 20px;
    align-items: center;
}

.hero-btn {
    display: flex;
    justify-content: space-around;
    width: 80px;
    align-items: center;
    border-radius: 40px;
}

.output {
    display: flex;
    justify-content: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
}

.playAgainBtn {
    display: flex;
    justify-content: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    border-radius: 50px;
}

#gameBoard{
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}
.square{
    width: 100px;
    height: 100px;
    background-color: #fae1dd;
    border: solid 2px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 15px solid blue;
    box-sizing: border-box;
}

.cross{
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);
}
.cross:before, .cross:after{
    content: "";
    position: absolute;
    background-color: red;
}
.cross:before{
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%
}
.cross:after{
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%
}